<!DOCTYPE html>
<html lang="en" translate="no">
<head>
{{- partial "head.html" . -}}
</head>
<body>
{{ partial "nav.html" . }}
<main class="stopfles">
{{ block "main" . }}{{- end }}
</main>
{{ partial "footer.html" . }}
</body> 
</html>