/* Fonts */
/* Font Style */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lexend-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/lexend-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/lexend-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/lexend-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/lexend-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/lexend-v17-latin-regular.svg#Lexend') format('svg'); /* Legacy iOS */
}

/* Colors */
:root {
    --black: #1c1c1b;
    --white: #f1f4ff;
    --lightblue: #8abad3;
}

/* Theme */
.theme-light {
    --background: var(--white);
    --text: var(--black);
    --link-hover: var(--lightblue);
}

.theme-dark {
    --background: var(--black);
    --text: var(--white);
    --link-hover: var(--lightblue);
}

.theme--label, .theme--icon { margin: 0 5px; }
.theme--icon { font-size: 1.5em; }
.icons {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 10px;
    stroke-width: 0;
    fill: currentColor;
    stroke: currentColor;
    display: inline-block;
}

a { text-decoration: none; color: var(--text); }
a:visited{ color: var(--text); }
a:hover { color: var(--link-hover);}
a:active { color: indigo; }
a.icons {
    transition: fill 280ms cubic-bezier(0, 0.5, 0.2, 1),
    transform 280ms cubic-bezier(0, 0.5, 0.2, 1);
}
a.icons:hover { transform: translateY(-0.1em); }

/* Template */
.--left { text-align: left; }
.--right { text-align: right; }
.--center { text-align: center; }
.--block { display: block; }
.--inline { display: inline; }
.--flex { display: flex; }
.--grid { display: grid; }
.--uline { text-decoration: underline; }
.--hidden { visibility: hidden; }
.--visible { visibility: visible; }
.--capitalize { text-transform: capitalize; }

/* Common */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
body { line-height: 1.3em; font-family: 'Lexend'; background: var(--background); color: var(--text font-size: 1rem/1.5;); }
.stopfles { padding: 0 15px; margin: 0 auto; }
a { text-decoration: none; }
ul li { list-style: none; }
svg { width: 100%; height: 100%; }
img { max-width: 100%; height: auto; }
h1 { font-size: 1.5em; margin: 12px 0; }
h2 { font-size: 1.4em; margin: 12px 0; }
h3 { font-size: 1.3em; margin: 12px 0; }
h4 { font-size: 1.2em; margin: 12px 0; }
h5 { font-size: 1,1em; margin: 12px 0; }
div, p, a, ul li, small  { margin: 12px 0; }

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.modal-container.show {
  transform: scale(1);
}

.modal-container.show .modal {
  animation: topToBottom 0.5s ease-in-out 1;
}

.modal-container .modal {
  max-width: 850px;
  margin: auto;
  background: #fff;
  position: relative;
}

.modal-container .modal h1 {
  padding: 20px;
  background: #0080ff;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
}
.modal-container .modal p {
  padding: 20px;
  line-height: 1.8;
  font-size: 1rem;
}

.modal-container .modal .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

@keyframes topToBottom {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}


/* Site-Nav */
nav {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav ul li a { margin: 10px; }
section > hr { border: 1 solid var(--text); margin-bottom: 30px; }

/* Profile Picture */
.profile-picture { text-align: center; }
.profile-picture img { width: 150px; border-radius: 50%; }
.socmed ul li { display: inline-block; }
.socmed { margin-top: 25px;}

/* Main Link */
.main-link { margin: 15px 0; }

.main-link ul li a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding: 0 0 .15rem;
    border-bottom: 2px solid var(--text);
    text-decoration: none;
    font-weight: 400;
    color: var(--text);
}

.main-link ul li a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -2px;
    background: var(--background);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.main-link ul li a:hover { color: var(--link-hover); }

.main-link ul li a:hover::before,
.main-link ul li a:focus::before,
.main-link ul li a:active::before,
.main-link ul li.current_page_item a:before {
    right: 0
}

text
.main-link ul li a:hover,
.main-link ul li a:focus,
.main-link ul li a:active,
.main-link ul li.current_page_item a {
    border-bottom: 2px solid var(--background);
}

/* SEARCH BAR */
.search-container {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.search-label {
    /* margin-right: 5px; */
    cursor: pointer;
}
.input-search {
    padding: 10px;
    color: #89abe3 !important;
    border: 1px solid grey;
    font-size: 17px;
}
.input-search:focus {
    border: 2px solid #89abe3 !important;
    border-bottom: 1px solid #89abe3 !important;
    box-shadow: 0 1px 0 0 #89abe3 !important;
}

::placeholder {
    color: #89abe3;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #89abe3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #89abe3;
}

/* Tags */
select.select-tags {
    width: 220px;
    height: 30px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.paginator {
    padding: 20px;
    margin-top: 20px;
}

.page-item {
    display: inline-block;
    /* padding: 0px 9px; */
    font-size: 0.7em;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    /* background: #e9e9e9; */
    /* box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1); */
    text-decoration: none;
    color: #717171;
    /* text-shadow: 0px 1px 0px rgba(255,255,255, 1); */
}

.page-item.active {
    border: none;
    background: #fb19196c !important;
    /* box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8); */
    color: #e72323 !important;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* Footer */
footer { margin-top: 40px; }
.scewer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: var(--text);
}
.scewer:after,
.scewer:before {
    flex: 1;
    display: block;
    content: '';
    height: 1;
    border-top: 2px solid var(--text);
}
.scewer:after { margin-left: 1rem; }
.scewer:before { margin-right: 1rem; }

/* Grid View */
/* .rw::after { content: ""; clear: both; display: table; }  */

.rw::before, .rw::after {
    content: "";
    clear: both;
    display: table;
}

[class*="cl-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

/* Breakpoints */

/* Extra Small devices (portrait small phones) */
@media only screen and (max-width: 575px) {
    body { font-size: 1rem; }

    .cl-s-1 {width: 8.33%;}
    .cl-s-2 {width: 16.66%;}
    .cl-s-3 {width: 25%;}
    .cl-s-4 {width: 33.33%;}
    .cl-s-5 {width: 41.66%;}
    .cl-s-6 {width: 50%;}
    .cl-s-7 {width: 58.33%;}
    .cl-s-8 {width: 66.66%;}
    .cl-s-9 {width: 75%;}
    .cl-s-10 {width: 83.33%;}
    .cl-s-11 {width: 91.66%;}
    .cl-s-12 {width: 100%;}

    #search-input {
        width: 90%;
        height: 30px;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {
    body { font-size: 1rem; }
    .stopfles { width: 90%; }

    .cl-m-1 {width: 8.33%;}
    .cl-m-2 {width: 16.66%;}
    .cl-m-3 {width: 25%;}
    .cl-m-4 {width: 33.33%;}
    .cl-m-5 {width: 41.66%;}
    .cl-m-6 {width: 50%;}
    .cl-m-7 {width: 58.33%;}
    .cl-m-8 {width: 66.66%;}
    .cl-m-9 {width: 75%;}
    .cl-m-10 {width: 83.33%;}
    .cl-m-11 {width: 91.66%;}
    .cl-m-12 {width: 100%;}

    #search-input {
        width: 50%;
        height: 30px;
    }

}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    body { font-size: 1.1rem; }
    .stopfles { width: 75%; }

    .cl-1 {width: 8.33%;}
    .cl-2 {width: 16.66%;}
    .cl-3 {width: 25%;}
    .cl-4 {width: 33.33%;}
    .cl-5 {width: 41.66%;}
    .cl-6 {width: 50%;}
    .cl-7 {width: 58.33%;}
    .cl-8 {width: 66.66%;}
    .cl-9 {width: 75%;}
    .cl-10 {width: 83.33%;}
    .cl-11 {width: 91.66%;}
    .cl-12 {width: 100%;}

    #search-input {
        width: 40%;
        height: 30px;
    }
}
