/* Colors */
:root {
    --black: #1c1c1b;
    --white: #f1f4ff;
    --lightblue: #8abad3;
}

/* Theme */
.theme-light {
    --background: var(--white);
    --text: var(--black);
    --link-hover: var(--lightblue);
}

.theme-dark {
    --background: var(--black);
    --text: var(--white);
    --link-hover: var(--lightblue);
}

.theme--label, .theme--icon { margin: 0 5px; }
.theme--icon { font-size: 1.5em; }
