/* Template */
.--left { text-align: left; }
.--right { text-align: right; }
.--center { text-align: center; }
.--block { display: block; }
.--inline { display: inline; }
.--flex { display: flex; }
.--grid { display: grid; }
.--uline { text-decoration: underline; }
.--hidden { visibility: hidden; }
.--visible { visibility: visible; }
.--capitalize { text-transform: capitalize; }
