
<footer class="stopfles --center">
  <h3 class="scewer"><a id="openModal">Privacy Policy</a></h3>

    <div class="modal-container">
      <div class="modal">
        <h1>Privacy Policy</h1>
        <h3>We do not collect any personal data</h3>
        <p>Our definition of personal data is based on the General Data Protection Regulation (GDPR). If information isn’t collected, it can’t be stolen, sold, demanded, leaked or abused. </p>
        <h3>Cookies and Search Queries</h3>
        <p>We don't use any cookies, only local storage to save theme colors in browser. We do not serve any tracking or identifying cookies. When you search on the search bar, we do not log your search queries.
        <h3>Third Parties and Other Websites</h3>
        <p>We do not sell, trade, share, license or sub license your data with any third parties or entities. We are not associated with any third parties. 
        This privacy policy only applies to this website including its subdomains. This site may contain links to other websites, when you proceed to other websites via our links, our privacy policy is void.</p>
          
        <h1><a class="close">Okay</a></h1>
        <!-- <span class="close --absolute">&times; Close</span> -->
          <br><br>
      </div>
    </div>
    <small>
      Made with 
        <svg class= "sicons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"> 
            <path d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z"></path> 
        </svg> 
      in Southeast Asia 
    {{ now.Format "2006" }}
    </small> 
      <br><br>
  </footer>
