
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .Title }}</title>{{ if .Description }}
    <meta name="description" content="{{ .Description }}" />{{ else if eq .Kind "section" }}
    <meta name="description" content="{{ .Summary }}" />{{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}" />{{ end }}
    <meta name="author" content="ivan">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lVANSKl">
    <meta name="twitter:creator" content="@lVANSKl">
    <meta name="twitter:title" content="{{ .Title }}">{{ if .Description }}
    <meta name="twitter:description" content="{{ .Description }}">{{ else if eq .Kind "section" }}
    <meta name="twitter:description" content="{{ .Summary }}">{{ else }}
    <meta name="twitter:description" content="{{ .Site.Params.Description }}">{{ end }}{{ $card := resources.Get "img/vanski.png" }}
    <meta name="twitter:image:src" content="{{ $card.Permalink }}">
    <!-- Meta SEO -->{{ if .IsPage }}
    <meta property="article:published_time" content="{{ .Date.Format "02 Jan 2006" }}" />{{ else }}
    <meta property="article:published_time" content="21 Dec 2020" />{{ end }}
    <meta property="og:title" content="{{ .Title }}" />{{ if .Description }}
    <meta property="og:description" content="{{ .Description }}" />{{ else if eq .Kind "section" }}
    <meta property="og:description" content="{{ .Summary }}" />{{ else }}
    <meta property="og:description" content="{{ .Site.Params.Description }}" />{{ end }}
    <meta property="og:url" content="{{ .Page.Permalink }}">
    <meta property="og:image" content="{{ $card.Permalink }}">
    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- Favicon -->{{ $favicon := resources.Get "favicons/favicon.ico" }}
    <link rel="shortcut icon" href="{{ $favicon.Permalink }}" type="image/x-icon">{{ $favicon32 := resources.Get "favicons/favicon-32x32.png" }}
    <link rel="icon" href="{{ $favicon32.Permalink }}" type="image/png">{{ $favicon16 := resources.Get "favicons/favicon-16x16.png" }}
    <link rel="icon" href="{{ $favicon16.Permalink }}" type="image/png">
    {{ $sass := resources.Get "styles/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{- $js := resources.Get "scripts/script.js" }}
    <script src="{{ $js.Permalink }}" defer></script>
