{{ define "main" }}
    {{- $profile := resources.Get "profile.png" }}
    <div class="rw intro">

        <div class="cl-s-12 cl-m-5 cl-5">

            <div class="profile-picture">

                <img src="{{ $profile.Permalink }}" alt="avatar">

            </div>

            <ul>
                <li><label for="theme--switch" class="theme--label"></label></li>
                <li><label for="theme--switch" id="theme--icon" class="theme--icon"></label></li>
                <li hidden><button id="theme--switch"></button></li>

            </ul>

        </div>

        <div class="cl-s-12 cl-m-7 cl-7">

            <p>Ivan was born and raised in Indonesia, he currently resides in the Special Capital Region of Jakarta. There are public spaces and private spaces, therefore we don't know much about him. But we believe Ivan is great.</p>

            <section class="socmed --center">

                <ul>

                    <li>

                        <a href="https://twitter.com/vanpedia" class="icons icons--twitter" title="@vanpedia on Twitter">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                                <path d="M20.833 5.262c-0.186 0.242-0.391 0.475-0.616 0.696-0.233 0.232-0.347 0.567-0.278 0.908 0.037 0.182 0.060 0.404 0.061 0.634 0 5.256-2.429 8.971-5.81 10.898-2.647 1.509-5.938 1.955-9.222 1.12 1.245-0.361 2.46-0.921 3.593-1.69 0.147-0.099 0.273-0.243 0.352-0.421 0.224-0.505-0.003-1.096-0.508-1.32-2.774-1.233-4.13-2.931-4.769-4.593-0.417-1.084-0.546-2.198-0.52-3.227 0.021-0.811 0.138-1.56 0.278-2.182 0.394 0.343 0.803 0.706 1.235 1.038 2.051 1.577 4.624 2.479 7.395 2.407 0.543-0.015 0.976-0.457 0.976-1v-1.011c-0.002-0.179 0.009-0.357 0.034-0.533 0.113-0.806 0.504-1.569 1.162-2.141 0.725-0.631 1.636-0.908 2.526-0.846s1.753 0.463 2.384 1.188c0.252 0.286 0.649 0.416 1.033 0.304 0.231-0.067 0.463-0.143 0.695-0.228zM22.424 2.183c-0.74 0.522-1.523 0.926-2.287 1.205-0.931-0.836-2.091-1.302-3.276-1.385-1.398-0.097-2.836 0.339-3.977 1.332-1.036 0.901-1.652 2.108-1.83 3.372-0.037 0.265-0.055 0.532-0.054 0.8-1.922-0.142-3.693-0.85-5.15-1.97-0.775-0.596-1.462-1.309-2.034-2.116-0.32-0.45-0.944-0.557-1.394-0.237-0.154 0.109-0.267 0.253-0.335 0.409 0 0-0.132 0.299-0.285 0.76-0.112 0.337-0.241 0.775-0.357 1.29-0.163 0.722-0.302 1.602-0.326 2.571-0.031 1.227 0.12 2.612 0.652 3.996 0.683 1.775 1.966 3.478 4.147 4.823-1.569 0.726-3.245 1.039-4.873 0.967-0.552-0.024-1.019 0.403-1.043 0.955-0.017 0.389 0.19 0.736 0.513 0.918 4.905 2.725 10.426 2.678 14.666 0.261 4.040-2.301 6.819-6.7 6.819-12.634-0.001-0.167-0.008-0.33-0.023-0.489 1.006-1.115 1.676-2.429 1.996-3.781 0.127-0.537-0.206-1.076-0.743-1.203-0.29-0.069-0.58-0.003-0.807 0.156z"></path>

                            </svg>

                        </a>

                    </li>

                    <li>

                        <a href="https://instagram.com/ivantastis" class="icons icons--instagram" title="@ivantastis on Instagram">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                                <path d="M7 1c-1.657 0-3.158 0.673-4.243 1.757s-1.757 2.586-1.757 4.243v10c0 1.657 0.673 3.158 1.757 4.243s2.586 1.757 4.243 1.757h10c1.657 0 3.158-0.673 4.243-1.757s1.757-2.586 1.757-4.243v-10c0-1.657-0.673-3.158-1.757-4.243s-2.586-1.757-4.243-1.757zM7 3h10c1.105 0 2.103 0.447 2.828 1.172s1.172 1.723 1.172 2.828v10c0 1.105-0.447 2.103-1.172 2.828s-1.723 1.172-2.828 1.172h-10c-1.105 0-2.103-0.447-2.828-1.172s-1.172-1.723-1.172-2.828v-10c0-1.105 0.447-2.103 1.172-2.828s1.723-1.172 2.828-1.172zM16.989 11.223c-0.15-0.972-0.571-1.857-1.194-2.567-0.754-0.861-1.804-1.465-3.009-1.644-0.464-0.074-0.97-0.077-1.477-0.002-1.366 0.202-2.521 0.941-3.282 1.967s-1.133 2.347-0.93 3.712 0.941 2.521 1.967 3.282 2.347 1.133 3.712 0.93 2.521-0.941 3.282-1.967 1.133-2.347 0.93-3.712zM15.011 11.517c0.122 0.82-0.1 1.609-0.558 2.227s-1.15 1.059-1.969 1.18-1.609-0.1-2.227-0.558-1.059-1.15-1.18-1.969 0.1-1.609 0.558-2.227 1.15-1.059 1.969-1.18c0.313-0.046 0.615-0.042 0.87-0.002 0.74 0.11 1.366 0.47 1.818 0.986 0.375 0.428 0.63 0.963 0.72 1.543zM17.5 7.5c0.552 0 1-0.448 1-1s-0.448-1-1-1-1 0.448-1 1 0.448 1 1 1z"></path>

                            </svg>

                        </a>

                    </li>

                    <li>

                        <a href="https://gitlab.com/penyihir" class="icons icons--gitlab" title="Gitlab | penyihir">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                                <path d="M23.238 15.199c0.261-0.17 0.493-0.446 0.635-0.764 0.172-0.385 0.214-0.831 0.075-1.305l-1.266-3.749-2.432-7.484c-0.068-0.229-0.195-0.443-0.397-0.637-0.266-0.242-0.603-0.367-0.941-0.372-0.351-0.005-0.707 0.119-0.976 0.365-0.165 0.147-0.296 0.334-0.378 0.547-0.006 0.015-0.012 0.033-0.018 0.052l-2.217 6.818h-6.647l-2.207-6.773c-0.068-0.229-0.195-0.443-0.397-0.637-0.265-0.242-0.602-0.367-0.94-0.372-0.351-0.006-0.707 0.118-0.976 0.365-0.166 0.146-0.296 0.334-0.379 0.546-0.006 0.016-0.012 0.034-0.018 0.052l-2.441 7.512-1.22 3.78c-0.106 0.329-0.117 0.676-0.038 1.004 0.098 0.407 0.336 0.783 0.702 1.052l10.65 7.74c0.346 0.248 0.818 0.26 1.176 0zM22.003 13.624l-10.003 7.27-9.983-7.255 1.205-3.662 1.886-5.805 1.891 5.808c0.137 0.42 0.525 0.687 0.951 0.69h8.1c0.442 0 0.817-0.287 0.951-0.691l1.886-5.804 1.892 5.824z"></path>

                            </svg>

                        </a>

                    </li>

                    <li>

						<a href="https://keybase.io/vanski/pgp_keys.asc" class="icons icon--gpg" title="Public Key"> 
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"> 
								<path d="M31.317 9.82l-3.16-3.159c-0.775-0.775-2.043-2.043-2.818-2.818l-3.16-3.159c-0.775-0.775-2.155-0.911-3.067-0.304l-8.639 5.759c-0.912 0.608-1.257 1.907-0.767 2.887l2.203 4.405c0.067 0.135 0.145 0.278 0.231 0.427l-11.142 11.142-1 7h6v-2h4v-4h4v-4h4v-2.225c0.2 0.119 0.392 0.226 0.569 0.314l4.405 2.203c0.98 0.49 2.279 0.145 2.887-0.767l5.759-8.639c0.608-0.912 0.471-2.292-0.304-3.066zM4.707 26.707l-1.414-1.414 9.737-9.737 1.414 1.414-9.737 9.737zM28.657 13.243l-1.414 1.414c-0.389 0.389-1.025 0.389-1.414 0l-8.485-8.485c-0.389-0.389-0.389-1.025 0-1.414l1.414-1.414c0.389-0.389 1.025-0.389 1.414 0l8.485 8.485c0.389 0.389 0.389 1.025 0 1.414z"></path> 
							</svg> 
						</a> 

					</li>

                    <li>

                        <a href="/index.xml" class="icons icons--rss" title="RSS Feed">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                                <path d="M4 12c2.209 0 4.208 0.894 5.657 2.343s2.343 3.448 2.343 5.657c0 0.552 0.448 1 1 1s1-0.448 1-1c0-2.761-1.12-5.263-2.929-7.071s-4.31-2.929-7.071-2.929c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4 5c4.142 0 7.891 1.678 10.607 4.393s4.393 6.465 4.393 10.607c0 0.552 0.448 1 1 1s1-0.448 1-1c0-4.694-1.904-8.946-4.979-12.021s-7.327-4.979-12.021-4.979c-0.552 0-1 0.448-1 1s0.448 1 1 1zM7 19c0-0.552-0.225-1.053-0.586-1.414s-0.862-0.586-1.414-0.586-1.053 0.225-1.414 0.586-0.586 0.862-0.586 1.414 0.225 1.053 0.586 1.414 0.862 0.586 1.414 0.586 1.053-0.225 1.414-0.586 0.586-0.862 0.586-1.414z"></path>

                            </svg>

                        </a>

                    </li>

                    <li>

                        <a href="mailto:penyihir@mailbox.org" class="icons icons--email" title="penyihir@mailbox.org">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                                <path d="M3 7.921l8.427 5.899c0.34 0.235 0.795 0.246 1.147 0l8.426-5.899v10.079c0 0.272-0.11 0.521-0.295 0.705s-0.433 0.295-0.705 0.295h-16c-0.272 0-0.521-0.11-0.705-0.295s-0.295-0.433-0.295-0.705zM1 5.983c0 0.010 0 0.020 0 0.030v11.987c0 0.828 0.34 1.579 0.88 2.12s1.292 0.88 2.12 0.88h16c0.828 0 1.579-0.34 2.12-0.88s0.88-1.292 0.88-2.12v-11.988c0-0.010 0-0.020 0-0.030-0.005-0.821-0.343-1.565-0.88-2.102-0.541-0.54-1.292-0.88-2.12-0.88h-16c-0.828 0-1.579 0.34-2.12 0.88-0.537 0.537-0.875 1.281-0.88 2.103zM20.894 5.554l-8.894 6.225-8.894-6.225c0.048-0.096 0.112-0.183 0.188-0.259 0.185-0.185 0.434-0.295 0.706-0.295h16c0.272 0 0.521 0.11 0.705 0.295 0.076 0.076 0.14 0.164 0.188 0.259z"></path>

                            </svg>

                        </a>

                    </li>

                </ul>

            </section>

        </div>

    </div>

    <div class="rw">
        <div class="cl-s-12 cl-m-12 cl-12 --center">
          <p>
              If you'd like to contact Ivan, he can be contacted via email at
              <span><a href="mailto:penyihir@mailbox.org" class="--uline" title="penyihir@mailbox.org">penyihir@mailbox.org</a></span>
          </p>

        </div>
    </div>

    <div class="rw main-link --center">

        <div class="cl-s-12 cl-m-4 cl-4">

            <ul>

                <li>

                    <!-- <a href="https://tees.co.id/stores/ringkus" title="Shop"> -->
                    <a href="https://bhinneka.com/toko-mata-mata" title="Shop">

                        <h2 class="--inline">Shop</h2>

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icons icons--link">

                            <path d="M13 17c0 1.104 0.894 2 2 2 1.104 0 2-0.896 2-2 0-1.106-0.896-2-2-2-1.106 0-2 0.894-2 2zM3 17c0 1.104 0.895 2 2 2 1.103 0 2-0.896 2-2 0-1.106-0.897-2-2-2-1.105 0-2 0.894-2 2zM6.547 12.172l11.068-3.162c0.211-0.061 0.385-0.289 0.385-0.51v-5.5h-14v-1.6c0-0.22-0.181-0.4-0.399-0.4h-3.202c-0.219 0-0.399 0.18-0.399 0.4v1.6h2l1.91 8.957 0.090 0.943v1.649c0 0.219 0.18 0.4 0.4 0.4h13.2c0.22 0 0.4-0.182 0.4-0.4v-1.549h-11.248c-1.15 0-1.174-0.551-0.205-0.828z"></path>

                        </svg>

                    </a>

                </li>

            </ul>

        </div>

        <div class="cl-s-12 cl-m-4 cl-4">

            <ul>

                <li>

                    <a href="/blog" title="Blog">

                        <h2 class="--inline">Blog</h2>

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icons icons--link">

                            <path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227l-12.826 12.825-1.010 4.762 4.763-1.010 12.826-12.823c-0.001 0 0.216-1.083-1.228-2.527zM5.68 17.217l-1.624 0.35c-0.156-0.293-0.345-0.586-0.69-0.932s-0.639-0.533-0.932-0.691l0.35-1.623 0.47-0.469c0 0 0.883 0.018 1.881 1.016 0.997 0.996 1.016 1.881 1.016 1.881l-0.471 0.468z"></path>

                        </svg>

                    </a>

                </li>

            </ul>

        </div>

        <div class="cl-s-12 cl-m-4 cl-4">

            <ul>

                <li>

                    <a href="https://lab.van.ski" title="My Lab">

                        <h2 class="--inline">Labs</h2>

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icons icons--link">

                            <path d="M16.432 15c-2.045-5.107-4.432-6.453-4.432-9v-3h0.5c0.276 0 0.5-0.224 0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5h-5c-0.276 0-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5h0.5v3c0 2.547-2.387 3.893-4.432 9-0.651 1.625-2.323 4 6.432 4s7.083-2.375 6.432-4zM14.815 16.751c-0.702 0.21-2.099 0.449-4.815 0.449s-4.113-0.239-4.815-0.449c-0.249-0.074-0.346-0.363-0.258-0.628 0.22-0.67 0.635-1.828 1.411-3.121 1.896-3.159 3.863 0.497 5.5 0.497s1.188-1.561 1.824-0.497c0.774 1.294 1.191 2.451 1.411 3.121 0.088 0.265-0.009 0.553-0.258 0.628z"></path>

                        </svg>

                    </a>

                </li>

            </ul>

        </div>

    </div>
{{ end }}
